/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padding-side {
    padding-left: 98px;
    padding-right: 98px;
}

.container {
    width: 1366px;

    margin: 0 auto;

}

.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    background-repeat: no-repeat;
    position: relative;
}

.slider-header {
    padding-top: 63px;
}

.menu {
    float: right;
}

.menu-list {
    list-style-type: none;
    float: left
}

.menu-link {
    float: left;

    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;

    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu-link:hover {
    color: lawngreen;
}


.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.slider-text {
    margin-top: 283px;
}

.slider-text-traiding {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.slider-text-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: 0px;
}


.slider-text-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 458px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.buttom {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    -webkit-box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
            box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;

}

.buttom:hover {
    background-color: #ccc;
}

.buttom:active {
    background-color: lawngreen;
}

.slider-pagging {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;

}

.circle:hover {
    background-color: #212121;
}

.circle:focus {
    background-color: lawngreen;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
}
.logo-link{
    margin-top: 13px;
}

.logo-link:hover {
    outline: 2px solid red;

}

.logo-link:active {
    outline: 2px solid lawngreen;

}

.feature-product {
    margin-top: 120px;

   

    
}

.feature-products-fn {
    width: 300px;
    border-bottom: 1px solid #6c6c6c;
    float: left;
}

.feature-product-af {
    text-decoration: none;
    border-bottom: 3px solid #212121;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.feature-product-an {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
}

.feature-product-e {
    text-decoration: none;
    display: inline-block;
    float: right;

    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.feature-product-e:hover{
    color: lawngreen;
}

.tab-content {
    margin-top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.img270-first {
    height: 270px;
    width: 270px;
    border: 1px solid #9c9c9c;
    margin-right: 15px;
    margin-left: 0;
    background: url(./img/product1.png);

}
.img270-last:hover{
     outline: 1px solid lawngreen;
}
.img270-last {
    height: 270px;
    width: 270px;

    margin-right: 0;
    margin-left: 15px;
}
.img270:hover{
    outline: 1px solid lawngreen;
}
.img270 {
    height: 270px;
    width: 270px;
   
    margin-left: 15px;
    margin-right: 15px;

}

.img270-first-circle-48 {
    height: 48px;
    width: 48px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 62px;
    position: relative;
    -o-object-fit: none;
       object-fit: none;
}

.img270-first-circle-48-img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;


}

.img270-first-header {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
    text-align: center;
    margin-top: 20px;
}

.img270-first-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21.91px;
    text-align: center;
    margin-top: 20px;
}

.promo-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 120px;


}

.promo-content {
    width: 683px;
    height: 683px;


}

.promo-content-block {
    width: 370px;
    margin-left: 50px;
    margin-top: 228px;

}

.promo-content-e {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.promo-content-h2 {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
}

.promo-content-left {
    background-image: url(./img/promo-img1.png);
}

.promo-content-right {
    background-image: url(./img/promo-img.png);
}

.tr-products {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    float: left;
}

.all_products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}
.img370:hover{
outline: 1px solid  lawngreen;
}
.img370 {
    width: 370px;
    height: 370px;

    margin-top: 15px;
    margin-bottom: 15px;
}

.slider2 {
    height: 800px;
    background-image: url(./img/hero-8.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.slider2-text {
    padding-top: 283px;
}

.slider2-text-hot {
    letter-spacing: 1.8px;
    color: #e53935;

    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.slider2-pagging {
    position: absolute;
    width: 1170px;
    bottom: 40px;
    text-align: center;

}

.img570 {
    height: 570px;
    width: 570px;

}

.exlusive-product {}

.img570-left {
    float: left;
    background-image: url(./img/product-1-lg.png);
}

.img570-right {
    float: right;


}

.img270-ex:hover{
    outline: 1px solid  lawngreen;
}
.img270-ex {
    height: 270px;
    width: 270px;

    margin-bottom: 20px;


}

.ex-content-block {
    width: 330px;
    margin-left: 30px;
    margin-top: 186px;

}

.promo-content-p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
}

.fl-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.ex-p-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
}

.mobile-all {
    margin-top: 120px;
    height: 516px;
    background-image: url(./img/back-img.png);
}

.mobile-app-content {
    width: 415px;
    height: 271px;
    margin-left: 106px;
}

.mobile-app-content-1 {
    color: #6c6c6c;

    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.mobile-app-content-2 {
    color: #212121;
    font-size: 62px;
    font-weight: 200;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: -5px;
}

.mobile-app-content-3 {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
}

.mobile-app-content-ul {
    text-decoration: none;
    list-style: none;
    margin-top: 30px;
}

.mobile-app-content-li {
    display: inline-block;
}

.footer {
   
    background-color: #f7f7f7;
}

.footer-block1 {
    margin-top: 120px;
    float: left;
    margin-right: 80px;
    
}

.footer-block1-p1 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.footer-block1-p2 {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 36px;
}
.footer-block2{
    float: left;
    margin-top: 120px;
    margin-right: 65px;
}
.footer-block2-table{
    
    color: #212121;
font-size: 14px;
font-weight: 700;
line-height: 26px;
text-transform: uppercase;
    margin-top: 36px;
}
.footer-block2-table-td{
    
    width: 210px;
    
}
.footer-block1-p3 {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.footer-block2-table-a{
    color: #212121;;
    text-decoration: none;
}
.footer-block2-table-a:link{
    color: #212121;
}
.footer-block2-table-a:active{
    color: #212121;
}
.footer-block2-table-a:hover{
    color: lawngreen;
}
.footer-block3 {
    margin-top: 120px;
    float: left;
    
}
.email-input{
    width: 370px;
    height: 50px;
    border: 1px solid #d9dee1;
background-color: #ffffff;
    color: #212121;
font-size: 14px;
font-weight: 700;
line-height: 26px;

    
}
.email-input::-webkit-input-placeholder{
color: #6c6c6c;
font-size: 14px;
font-weight: 300;
line-height: 22px;
}
.email-input::-moz-placeholder{
color: #6c6c6c;
font-size: 14px;
font-weight: 300;
line-height: 22px;
}
.email-input:-ms-input-placeholder{
color: #6c6c6c;
font-size: 14px;
font-weight: 300;
line-height: 22px;
}
.email-input::-ms-input-placeholder{
color: #6c6c6c;
font-size: 14px;
font-weight: 300;
line-height: 22px;
}
.email-input::placeholder{
color: #6c6c6c;
font-size: 14px;
font-weight: 300;
line-height: 22px;
}
.submit{
    margin-left: -30px;
}
.submit img:hover{
    outline: 1px solid lawngreen;
}
.footer-block4{
color: #6c6c6c;
font-size: 12px;
font-weight: 700;
line-height: 26px;
text-transform: uppercase;
    text-align:center;
    margin-top: 77px;
    margin-bottom: 40px;
}
.footer-block4-content{
    display: inline-block;
}
.footer-block4-left{
    float: left;
}
.footer-block4-right{
    float: right;
    
}
.social{
    font-size: 28px;
    text-align: center;
    display: inline-block;
}
.social-a{
    text-decoration: none;
    color: #6c6c6c;
}
.s-link:hover{
    color: lawngreen;
}
.social-a:active{
    color: #6c6c6c;
}
.contract{
    background-color: #f5f5f5;
}
.contact-header{
    color: #212121;
font-size: 62px;
font-weight: 400;
line-height: 72px;
    margin-top: 170px;
    margin-bottom: 56px;
}
.location{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.location-item{
    height: 370px;
    width: 370px;
    border: 1px solid black;
    margin-top: 70px;
    margin-bottom: 120px;
    text-align: center;
}
.location-item-icon{
    font-size: 48px;
    margin-top: 48px;
}
.location-item-country{
    color: #212121;
font-size: 22px;
font-weight: 700;
line-height: 29.88px;
text-transform: uppercase;
    margin-bottom: 23px;
}
.location-item-card{
    width: 270px;
    height: 135px;
    
font-size: 14px;
font-weight: 700;
line-height: 20px;
    display: inline-block;
    
}
.location-item-card-grey{
font-weight: 700;    
    color: #6c6c6c;
}
.location-item-card-black{
    color: #212121;
font-weight: 700;
}
.location-item-card-addres{
font-weight: 300;    
}
.products{
    background-color: #f5f5f5;
}
.products-header{
    color: #212121;
font-size: 62px;
font-weight: 400;
line-height: 72px;
    margin-top: 258px;
    padding-bottom: 44px;
}
.products-tab-control{
    margin-top: 70px;
}
.product-menu{
    list-style-type: none;
    
}
.product-menu-li{
    display: inline-block;
}
.product-menu-link:hover{
    color: lawngreen;
}
.product-menu-link{
    text-decoration: none;
    color: #6c6c6c;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
    padding: 10px 13px;
}
.product-menu-link-active {
    color: #212121;
letter-spacing: 1.8px;
    border-bottom: 3px solid #212121;
}
.products-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 70px;
}
.product-refresh{
    text-align: center;
    font-size: 48px;
    margin-top: 71px;
}
.button-pr-refresf{
    text-decoration: none;
    color: #212121
}
.button-pr-refresf:hover{
    color: lawngreen;
}

.product-detail-tabs{
    
}
.product-detail-menu{
    list-style: none;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
    background-color: #f4f4f4;
}
.product-detail-li{
    display: inline-block;
}
.product-detail-link:hover{
    color: lawngreen;
}
.product-detail-link{
    text-decoration: none;
        color: #6c6c6c;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
    letter-spacing: 1.8px;
    padding: 10px 5px;
}
.product-detail-link-active{
    color: #212121;
}
.product-detail-slider{
    margin-top: 72px;
        float: left;
    margin-right: 0;
}
.product-detail-slider-control{
    width: 570px;
    text-align: center;
}
.img570{
    outline: 1px solid black;
}
.img70{
    display: inline-block;
    height: 70px;
    
    width: 70px;
}
.product-detail-control-link:hover{
    outline: 1px solid lawngreen;
}
.product-detail-opis{
    float: left;
    width: 570px;
    text-align: center;
    margin-top: 72px;
    margin-left: 30px;
}

.product-detail-opis-block1 {
    color: #212121;
font-size: 36px;
font-weight: 700;
}
.product-detail-opis-block2 {
    opacity: -1;
color: #e53935;
color: #ffffff;
font-size: 18px;
font-weight: 700;
line-height: 48.02px;
text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-top: 23px;
}
.product-detail-opis-block3 {
    color: #212121;

font-weight: 300;
line-height: 48.02px;
    font-size: 72px;
text-transform: uppercase;
    margin-top: 36px;
}
.product-detail-opis-buttom {
    color: #ffffff;
font-size: 22px;
font-weight: 700;
line-height: 71px;
text-transform: uppercase;
    -webkit-box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
            box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
border-radius: 35px;
background-color: #f44336;
    width: 510px;
    height: 71px;
    margin-top: 31px;
}
.product-detail-opis-block4 {
    width: 499px;
    color: #212121;
font-size: 16px;
font-weight: 300;
line-height: 24.01px;
    margin-top: 50px;
    text-align: left;
}
.product-detail-relayted{
    
}
.product-detail-relayted-title{
    margin-top: 245px;
}
.product-detail-relayted-title-block1{
    color: #212121;
font-size: 36px;
font-weight: 700;
    float: left
}
.product-detail-relayted-title-block2{
    color: #212121;
    float: right;
letter-spacing: 3.6px;
font-size: 18px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
}
product-detail-relayted-title-block2-arrow{
    display: inline-block;
    
}
.detail-relay-link{
    text-decoration: none;
    color: #212121;
}
product-detail-relayted-title-block2:hover{
    color: lawngreen;
}
.product-detail-relayted-images{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
margin-right: 70px;
    padding-bottom: 120px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}
.slider-header2{
    height: 60px;
   -webkit-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.25);
           box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.25);
background-color: #ffffff;
    
}